@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/public/fonts/poppins-v20-latin-regular.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("/public/fonts/poppins-v20-latin-600.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("/public/fonts/poppins-v20-latin-700.woff2")
    format("woff2");
}

.dark .ant-select-selector {
  background: transparent !important;
}

.dark .ant-select-item-option-active {
  background: rgb(73, 89, 111) !important;
}

.dark .ant-select-item-option-selected {
  background: #2b30ea !important;
}

:root {
  --dark-background-800: #121212;
  --dark-background-900: #0d0d0d;
}

.dark .ant-input-outlined {
  --ant-color-bg-container: var(--dark-background-800);
  --ant-input-hover-bg: var(--dark-background-800);
  --ant-input-active-bg: var(--dark-background-800);
  --ant-color-text: white;
  --ant-color-icon: rgba(255, 255, 255, 0.5);
  --ant-color-icon-hover: white;
}
