@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/public/fonts/poppins-v20-latin-regular.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("/public/fonts/poppins-v20-latin-600.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("/public/fonts/poppins-v20-latin-700.woff2")
    format("woff2");
}

.dark .ant-select-selector {
  background: transparent !important;
}

.dark .ant-select-item-option-active {
  background: rgb(73, 89, 111) !important;
}

.dark .ant-select-item-option-selected {
  background: #2b30ea !important;
}

:root {
  --dark-background-900: #020617;
  --dark-background-800: #0f172a;
  --dark-background-700: #1e293b;
  /* --dark-background-900: #0d0d0d;
  --dark-background-800: #181818;
  --dark-background-700: #272727; */

  --primary-color: #925fe2;
  --dark-primary-color: #2b30ea;

  --white-text: rgba(255, 255, 255, 0.85);
}

.dark {
  --primary-color: var(--dark-primary-color);
}

.ant-btn-primary {
  background: var(--primary-color);
}

.ant-btn-icon-only {
  background: transparent;
}

.dark .ant-input-outlined {
  --ant-color-bg-container: var(--dark-background-800);
  --ant-input-hover-bg: var(--dark-background-800);
  --ant-input-active-bg: var(--dark-background-800);
  --ant-color-text: var(--white-text);
  --ant-color-icon: rgba(255, 255, 255, 0.5);
  --ant-color-icon-hover: var(--white-text);
  --ant-color-text-placeholder: rgba(255, 255, 255, 0.5);
}

.dark .ant-table {
  --ant-color-bg-container: var(--dark-background-800);
  --ant-color-text: var(--white-text);
  --ant-table-row-hover-bg: var(--dark-background-700);
  --ant-table-header-bg: var(--dark-background-800);
  --ant-table-header-color: rgba(255, 255, 255, 0.9);
  --ant-table-header-sort-active-bg: var(--dark-background-700);
  --ant-table-header-sort-hover-bg: var(--dark-background-700);
  --ant-table-body-sort-bg: var(--dark-background-700);
}
.dark .ant-table-column-sorter-up,
.dark .ant-table-column-sorter-down {
  color: white;
}

.dark .ant-pagination {
  --ant-color-text-disabled: white;
  --ant-pagination-item-active-bg: transparent;
  --ant-color-text: var(--white-text);
}

.dark .ant-modal-content {
  --ant-modal-content-bg: var(--dark-background-800);
  --ant-modal-header-bg: var(--dark-background-800);
  --ant-modal-title-color: var(--white-text);
}

.dark .ant-modal-close-icon {
  color: white;
}

.dark .ant-dropdown-menu {
  --ant-color-bg-elevated: var(--dark-background-800);
  --ant-color-text: var(--white-text);
  --ant-control-item-bg-hover: var(--dark-background-700);
}

.dark .ant-popover-inner {
  --ant-color-bg-elevated: black;
}

.dark .ant-popover-arrow {
  --antd-arrow-background-color: black;
}

.dark .ant-layout-header {
  --ant-layout-header-height: max-content;
}

.dark .ant-dropdown-menu {
  --ant-color-split: rgba(255, 255, 255, 0.3);
}

.dark .ant-input-number-group-addon {
  --ant-color-text: var(--white-text);
}

.dark .ant-input-number {
  --ant-color-text: var(--white-text);
  background-color: var(--dark-background-800);
  --ant-color-text-placeholder: rgba(255, 255, 255, 0.4);
}

.dark .ant-select-dropdown {
  --ant-color-text: rgba(255, 255, 255, 0.8);
  --ant-select-option-selected-color: rgba(255, 255, 255, 0.8);
  --ant-select-option-selected-bg: var(--dark-primary-color);
  --ant-color-bg-elevated: var(--dark-background-900);
}

.dark .ant-select-selector {
  --ant-color-text: var(--white-text);
  --ant-select-option-selected-color: var(--white-text);
  --ant-color-text-placeholder: var(--white-text);
}

.modal-button-danger-styles {
  background: var(--ant-color-error) !important;
}
.modal-button-danger-styles:hover {
  background: rgba(255, 77, 79, 0.85) !important;
}

.dark .modal-button-danger-styles {
  background: var(--ant-color-error) !important;
}
.dark .modal-button-danger-styles:hover {
  background: rgba(255, 77, 79, 0.85) !important;
}

.ant-switch {
  background: rgba(0, 0, 0, 0.25);
}

.dark .ant-switch {
  background: rgba(255, 255, 255, 0.3);
}
.dark .ant-switch:hover {
  background: rgba(255, 255, 255, 0.5);
}

.dark .ant-switch-checked {
  background: var(--dark-primary-color);
}

.dark .ant-switch-checked:hover {
  background: rgb(63, 69, 247) !important;
}

.dark .ant-modal-content {
  background: var(--dark-background-800);
}

.dark .ant-message-notice-content {
  background: var(--dark-background-700) !important;
  color: var(--white-text);
}

.dark .ant-drawer-content {
  --ant-color-bg-elevated: var(--dark-background-700);
  --ant-color-icon: var(--white-text);
  --ant-color-icon-hover: white;
}

.dark .ant-form-item-label {
  --ant-form-label-color: var(--white-text);
}

.dark .ant-modal-confirm-content {
  color: var(--white-text);
}

.dark .ant-avatar {
  --ant-color-text-placeholder: rgba(255, 255, 255, 0.25);
}

.dark .rc-virtual-list-scrollbar-thumb {
  background: rgba(223, 212, 212, 0.5) !important;
}

.dark .ant-picker-outlined {
  --ant-color-bg-container: var(--dark-background-800);
  --ant-date-picker-hover-bg: var(--dark-background-800);
  --ant-date-picker-active-bg: var(--dark-background-800);
  --ant-color-text-placeholder: var(--white-text);
}

.dark .anticon.anticon-calendar {
  color: var(--white-text);
}

.dark .ant-picker-dropdown {
  --ant-color-bg-elevated: var(--dark-background-700);
}
.ant-dropdown-css-var {
  --ant-dropdown-z-index-popup: 10 !important;
}

.custom-tab-sticky .ant-tabs-nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
}

.dark .custom-tab-sticky .ant-tabs-nav {
  background-color: var(--dark-background-800);
}

.custom-table-top-position .ant-table-sticky-holder {
  top: 43px !important;
}
